main {

    background-color: var(--cor-pêssego);
    width: 100%;
    min-width: 100vh;
    display: flex;
    justify-content: center;
}

.contarner-flex-publi {
    background-color: var(--cor-pêssego);
    /*height: 700px;*/
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

#storys {
    background-color: var(--cor-pêssego);
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 30px;
}

#storys::-webkit-scrollbar {
    width: 0;
}

.card-story>button {
    background-color: transparent;
    border: none;


    font-size: var(--tamanho-fonte-sm);
    color: var(--cor-preto);

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 5px;
}

.card-story>button>img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

#upload {
    display: none;
}

.formulario-botao-vinho {
    width: 135px;
}

#criar-publi {
    padding: 40px;
}

#criar-publi>h2 {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-lg);
    font-weight: 700;
    margin-bottom: 30px;
}


#criar-publi>form>textarea {
    width: 100%;
    height: 80px;
    padding: 10px;
    resize: none;
    border: var(--cor-laranja-queimado);

    color: var(--cor-laranja-queimado);
    font-size: var(--tamanho-fonte-sm);
}

#criar-publi>form>textarea::placeholder {
    color: black;
}

#criar-publi>form>footer {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

/* secao publicacoes */
#publicacaoes {
    background-color: var(--cor-vinho);
    width: 100%;
}

.card-publi {
    background-color: #ffe1caba;
    height: 600px;

}

.foto-de-perfil>h3 {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;

}

.card-publi> {
    padding: 15%;

}

.card-publi>header>a {
    display: flex;
    align-items: center;
    column-gap: 15px;
    text-decoration: none;
    color: var(--cor-preto);
    text-transform: lowercase;
}
.card-publi>figure{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.imagem-publicacao {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 350px;
}

.card-publi>figure>figcaption {
    color: var(--cor-preto);
    font-size: var(--tamanho-fonte-md);
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px;
    order: 1;
}

.descricao-publicacao {
    font-size: var(--tamanho-fonte-sm);
    font-weight: 400;
}
.interacoes-publicacao{
    display: flex;
    width: 98px;
    flex-wrap:wrap ;
    justify-content: space-between;
    order: 2;
   margin-left: 15px;
   margin-top: 15px;
}

.interacoes-publicacao>button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}.card-publi>figure>button{
    background-color: transparent;
    border: none;

    color: var(--cor-laranja-queimado);
    font-size: var(--cor-vinho);

    order: 3;

    margin-left: 15px;
}